* {
    margin: 0;
    padding:0
}
::selection {
    background: rgb(17, 228, 158);
}
:root{
    --duc-cc: green;
    --duc-fontfamily: sans-serif;
    background-image: url(imagestduc/440720393_961751088607679_8758028124176503006_n.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    color: rgb(245, 245, 245);
    font-family: sans-serif;
    font-size: 62,5%;
    box-sizing: border-box;
}
.infologin input:focus {
    background-color: #ddd;
    outline: none;
}
.infologin {
    width: 14rem;
    height: 16rem;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    position: relative;
    
}
div>input {
    background-color: #f1f1f1;

    border: none;
    font-size: 0.6rem;
    padding: 0.66rem ;
    padding-right: 3.84rem;
    opacity: 0.8;
    margin: 5px 0 0.6rem ;
}
div>b {
    font-size: 0.85rem;
}
.infologin .form {
    padding: 1rem
}
.form {
    padding-right: 10rem;
}
.form h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
button {
    position: absolute;
    bottom: 1rem;
    background-color: rgb(22, 168, 168);
    border: none;
    width: 85%;
    padding: 0.4rem;
    font-weight: bold;
    
}
input:hover {
    opacity: 1;
}


  
/* #test11{
    position: relative;
    left: 15px;

} */
/* #test11::before {
    content: "$";
    text-align: center;
    padding-bottom: 2.5px; 
    color: rgb(255, 255, 255);
    position: absolute;
    left: -20px; 
    width: 15px;
    height: 15px;
    border: 2px solid rgb(56, 19, 158);
    border-radius:50% ;
    background-color: blueviolet;
}
#test11::after {
    content: "$";
    text-align: center;
    padding-bottom: 2.5px; 
    color: rgb(255, 255, 255);
    position: absolute;
    right: -20px; 
    width: 15px;
    height: 15px;
    border: 2px solid rgb(56, 19, 158);
    border-radius:50% ;
    background-color: blueviolet;
} */

